@use '@angular/material' as mat;
@import 'src/app/styles/palette';

.product {
  display: grid;
  width: 200px;

  &__img-container {
    margin: auto;

    img {
      border-radius: 5px;
    }
  }

  &__info {
    text-align: center;

    & > .product__title {
      font-size: 14px;
      font-weight: bold;
      color: mat.get-color-from-palette($md-marketplace-primary, 700);
    }

    & > .product__subtitle {
      font-size: 12px;
      color: mat.get-color-from-palette($md-marketplace-secondary, 300);
      letter-spacing: 0.5px;
    }

    & > .product__price {
      font-size: 18px;
      color: mat.get-color-from-palette($md-marketplace-secondary, 400);
      padding-top: 10px;
    }
  }

  &__actions {
    padding-top: 15px;

    button {
      width: 100%;
    }
  }
}
