<div class="product" [ngClass]="{ basket: view === PRODUCT_VIEWS.basket }" data-cy="product-item">
  <div class="product__img-container">
    <img src="https://picsum.photos/180/280?grayscale" alt="Placeholder">
  </div>
  <div class="product__info">
    <section class="product__title">{{ product?.title }}</section>
    <section class="product__subtitle">{{ product?.brand }}</section>
    <section class="product__price">${{ product?.price }}</section>
  </div>
  <div class="product__actions">
    <button data-cy="add-product" *ngIf="view === PRODUCT_VIEWS.default; else removeBtn" mat-flat-button color="primary"
            (click)="select($event)" [disabled]="!product?.stock">ADD TO BASKET</button>
    <ng-template #removeBtn>
      <button data-cy="remove-product" mat-flat-button color="accent" (click)="removeFromBasket()">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </div>
</div>
