<mat-toolbar>
  <img class="header__logo" src="assets/logo.svg" alt="petlovers">
  <span class="header__separator"></span>
  <button mat-button>
    <mat-icon>wallet</mat-icon>
    <span class="wallet-info--total">{{ wallet$ | async }}</span>
  </button>
  <a mat-icon-button class="header__basket" [matBadge]="basketCounter$ | async" matBadgeColor="primary"
     matBadgeSize="small" routerLink="/basket" data-cy="basket">
    <mat-icon>shopping_basket</mat-icon>
  </a>
</mat-toolbar>
<small *ngIf="username$ | async as username" class="header__username">Logged in as {{username}}</small>
