.header {
  display: flex;

  &__logo {
    width: 176px;
  }

  &__separator {
    flex: 1;
  }

  &__username {
    margin-left: 10px;
    font-size: 0.6em;
  }
}

a[mat-icon-button].header__basket ::ng-deep span.mat-badge-content {
    right: -2px;
    top: 5px;
}
