<form [formGroup]="purchaseForm" class="form-container">
  <div class="form-container__full-name" formGroupName="name">
    <mat-form-field>
      <mat-label>First</mat-label>
      <input matInput formControlName="first"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last</mat-label>
      <input matInput formControlName="last"/>
    </mat-form-field>
  </div>
  <div class="form-container__address" formGroupName="address">
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="street"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="city"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>State</mat-label>
      <input matInput formControlName="state"/>
    </mat-form-field>
  </div>
  <mat-form-field class="form-container__email">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email"/>
  </mat-form-field>
  <div class="form-container__total-price">
    <p>Total: <span>${{ productsTotal$ | async }}</span></p>
  </div>
  <div class="form-container__actions">
    <a mat-flat-button color="primary" (click)="pay()">Pay</a>
  </div>
</form>
